
<div class="outer-form">
  <h1>Log In!</h1>
  <form class="outer-form" action="/session" method="post">
    <%= auth_token %>
    <div class="form-thing">
      <div class="labels">
        <label for="email">email:</label>
        <label for="password">password:</label>
      </div>

      <div class="inputs">
        <input id="email" type="text" name="user[email]">
        <input id="password" type="password" name="user[password]">
      </div>
    </div>
    <input type="submit" name="Log In!">

  </form>

</div>
