<div class="outer-form">

  <h1>Edit <%= @band.name %> </h1>

  <form class="outer-form" action=" <%= band_url(@band) %> " method="post">
    <input type="hidden" name="_method" value="PATCH">
    <%= auth_token %>
    <div class="form-thing">
      <div class="labels">
        <label for="name">name:  </label>
      </div>
      <div class="inputs">
        <input id="name" type="text" name="band[name]" value=" <%= @band.name %> ">
      </div>
    </div>
    <input type="submit" name="Update Band!">

  </form>

</div>
