<div class="outer-form">

  <h1>Add a Band</h1>

  <form class="outer-form" action="/bands" method="post">
    <%= auth_token %>
    <div class="form-thing">
      <div class="labels">
        <label for="name">name:  </label>
      </div>
      <div class="inputs">
        <input id="name" type="text" name="band[name]">
      </div>
    </div>
    <input type="submit" name="Add Band!">

  </form>

</div>
