<div class="form-thing">

  <h1>Add a Band</h1>

  <form class="form-thing" action="/bands" method="post">

    <%= auth_token %>
    <label>name:
      <input type="text" name="band[name]">
    </label>

    <input type="submit" name="Add Band!">

  </form>

</div>
