// Place all the styles related to the Albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.album-form {
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: center;
}

.album-form input, .album-form label {
  margin: 20px;
  height: 48px;
  font-size: 30px;
}
