// Place all the styles related to the Tracks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.track-form {
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: center;
}

.track-form input, .track-form label {
  margin: 20px;
  height: 48px;
  font-size: 30px;
}
